name: run smoke tests

on: 
  workflow_dispatch

jobs:
  run_tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - config-path: "reference_configs/uc_dev"
            name: "DEV@UC"
          - config-path: "reference_configs/uc_prod"
            name: "CHI@UC"
          - config-path: "reference_configs/kvm_prod"
            name: "KVM@TACC"
    name: "smoke tests: ${{matrix.name}}"
    concurrency:
      group: ${{matrix.name}}
      cancel-in-progress: false
    uses: ./.github/workflows/tempest_action.yaml
    with:
      config-path: ${{matrix.config-path}}
      name: ${{matrix.name}}
    secrets:
      accounts_gpg_passphrase: ${{secrets.accounts_gpg_passphrase}}
      slack_webhook_url: ${{secrets.slack_webhook_url}}
