name: Tempest Tests Action

on:
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string
      name:
        required: true
        type: string
      enable_alerts:
        required: false
        type: boolean
        default: true
      regex:
        required: false
        type: string
    secrets:
      accounts_gpg_passphrase:
        required: true
      slack_webhook_url:
        required: true


jobs:
  run_tempest:
    concurrency:
      group: ${{inputs.config-path}}
      cancel-in-progress: false
    name: "Tempest Tests: ${{inputs.name}}"
    runs-on: ubuntu-22.04
    env:
      artifact_name: "${{inputs.name}}-ctrf-report"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'
      - name: Run Smoke Tests
        id: tempest_run_tests
        continue-on-error: true
        env:
          SECRET_PASSPHRASE: ${{secrets.accounts_gpg_passphrase}}
        run: |
          chmod +x run_smoke_tests.sh
          ARGS=(--config-path "${{inputs.config-path}}" --name "${{inputs.name}}" --accounts-passphrase "$SECRET_PASSPHRASE")
          if [[ -n "${{inputs.regex}}" ]]; then
            ARGS+=(--regex "${{inputs.regex}}")
          fi
          ./run_smoke_tests.sh "${ARGS[@]}"


      - name: Publish Test Report
        uses: ctrf-io/github-test-reporter@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          report-path: "workspace/ctrf-results-0.json"
          summary-report: true
          failed-report: true
          previous-results-report: true
          upload-artifact: true
          artifact-name: "${{env.artifact_name}}"
          exit-on-fail: true
        if: always()

      - name: Upload Tempest Logs
        uses: actions/upload-artifact@v4
        with:
          name: "${{inputs.name}}-tempest.log"
          path: "workspace/logs/tempest.log"
        if: always()

      - name: Publish failures to slack
        run: npx slack-ctrf failed --title ${{inputs.name}} "workspace/ctrf-results-0.json"
        env:
          SLACK_WEBHOOK_URL: ${{secrets.slack_webhook_url}}
        if: ${{ !cancelled() && inputs.enable_alerts }}
